@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
  background-color: rgb(14, 12, 21);
}

.some {
  color: #130c15;
}

.herobg {
  background: rgb(34, 8, 36);
  background: radial-gradient(circle, rgba(34, 8, 36, 1) 0%, rgba(101, 5, 95, 1) 49%, rgba(7, 0, 9, 1) 100%);
}

/* @media (prefers-color-scheme: light) {
    .element {
      color: black;
      background-color: white;
    }
  } */

@media (prefers-color-scheme: dark) {
  .element {
    color: #e6f4fc;
    background-color: #010e17;
  }
}